.about {
  padding: 4rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

/* Typography */
.about h1 {
  font-family: "Michroma", sans-serif;
  font-size: 3rem; /* Mobile-first */
  letter-spacing: 0.3rem;
  color: #f5f7fa; /* blanco suave */
}

.about h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 400;
  color: #82d4ff;
}

.about p {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
  max-width: 500px;
  margin: 0.5rem auto 2rem auto;
  color: #cfd8e3; /* gris azulado claro */
}
