.about {
  padding: 4rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

/* Typography */

.about h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 400;
  color: #82d4ff;
}

.about p {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
  max-width: 500px;
  margin: 0.5rem auto 2rem auto;
  color: #cfd8e3; /* gris azulado claro */
}

.about-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

/* delays opcionales */
.delay-1 {
  animation-delay: 0.3s;
}

/* fade-in keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
