.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 1rem;
  max-width: 900px;
}

/* Typography */

.about h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #82d4ff;
}

.about p {
  font-size: 0.6rem;
  font-weight: 300;
  color: #cfd8e3; /* gris azulado claro */
}

.about-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-text {
  margin: 1rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

.about-me-pic {
  width: 150px;
}

/* delays opcionales */
.delay-1 {
  animation-delay: 0.3s;
}

/* fade-in keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
