body {
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

header > nav {
  overflow: hidden;  
}

header > nav > ul {
  /*display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1em;  */
  padding: 0.5em 0;
  list-style: none;
  font-size: 1.5em;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.ham-btn {
  float: right;
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Michroma", sans-serif;
  font-size: 4rem;
}

footer {
  position: fixed;
  bottom: 0; 
  z-index: 1;
}

footer > ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.25em 0;
  list-style: none;
  font-size: 3em;
}
