body {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 10rem;
}

footer {
  display: flex;
}

footer > ul {
  display: inline-flex;
  list-style: none;
  font-size: 3em;
}
