*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
}

.snap-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.snap-container > section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Scroll Snap EN EL BODY */
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 80px; /* <- altura aproximada del header */
  padding-bottom: 80px; /* <- altura aproximada del footer */
}

.pixel-frame {
  display: inline-block;
  background: #cfd8e3;
  padding: 4px 8px;
  border: 4px solid #cfd8e3;
  position: relative;
}

.pixel-frame::before,
.pixel-frame::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 6px;
  background: #cfd8e3;
}

.pixel-frame::before {
  top: -6px;
}
.pixel-frame::after {
  bottom: -6px;
}
